# Dependency directories
node_modules

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env
.env.*

# Editor directories and files
.vscode/

# Operating System Files
.DS_Store
Thumbs.db
